/* Top Header */
.jumbotron {
	text-align: center;
	background-color: #2d2d2d;
	color: #fff;
	font-family: 'georgia', serif;
}

#headerFont {
	font-size: 100pt;
	line-height-bottom: 50px;
	letter-spacing: 5px;
}

#header2Font {
	font-size: 40pt;
	line-height: 50px;
	letter-spacing: 1px;
}

.container-fluid {
	background-image: url('assets/images/background.png') blue;
/*	background-image: url("http://www.planwallpaper.com/static/images/518079-background-hd.jpg");
*/	
}

.caroTxt {
	color: #fff;
	z-index: 3;
	text-shadow: 2px 2px 2px black;
}