/* Background Image */
#main-container {
	background-image: url('assets/images/background.png') blue;
/*	background-image: url("http://www.planwallpaper.com/static/images/518079-background-hd.jpg");
*/	
}

/* Top Header */
.jumbotron {
	text-align: center;
	background-color: #2d2d2d;
	color: #fff;
	font-family: 'georgia', serif;
	/*height: 450px;
	width: 1200px;*/
}

#headerFont {
	font-size: 100pt;
	line-height-bottom: 50px;
	letter-spacing: 5px;
}

#header2Font {
	font-size: 40pt;
	line-height: 50px;
	letter-spacing: 1px;
}

.caroTxt {
	color: #fff;
	z-index: 3;
	text-shadow: 2px 2px 2px black;
	position: relative;
}

#myCarousel {
	/*height: 450px;
	width: 1200px;
	margin: 0 auto;*/
}

.caroImg {
	/*max-height: 100%;*/
	/*width: 125%;*/
	position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}